@for $i from 0 through 10 {
  .pt-#{$i} {
    padding-top: #{$i}px;
  }
}

@for $i from 0 through 10 {
  .pr-#{$i} {
    padding-right: #{$i}px;
  }
}

@for $i from 0 through 10 {
  .pb-#{$i} {
    padding-bottom: #{$i}px;
  }
}

@for $i from 0 through 10 {
  .pl-#{$i} {
    padding-left: #{$i}px;
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}


