.header {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  &-text {
    width: 50%;
    h1 {
      letter-spacing: 10px;
      font-weight: 800;
      font-size: calc(2.5vw + 1.4vh);
      span {
        letter-spacing: 10px;
        font-weight: 200;
      }
      p {
        font-size: calc(1vw + 1.4vh);
        letter-spacing: 1px;
        padding: 10px 0;
      }
      .info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }
      img {
        padding: 10px;
      }
    }
    h2 {
      text-transform: uppercase;
      font-size: calc(0.8vw + 0.8vh);
      font-weight: 200;
      letter-spacing: 10px;
      padding: 5px 0;
    }
    p {
      //text-transform: uppercase;
      font-size: calc(0.4vw + 1.1vh);
      font-weight: 300;
      padding: 10px 0;
    }
    a {
      font-weight: 300;
      margin: 5px;
      display: inline-block;
      border: 1px solid white;
      border-radius: 5px;
      padding: 5px 20px;
      text-decoration: none;
      font-size: calc(0.8vw + 0.8vh);
      text-transform: uppercase;
      background: transparent;
    }
  }
}
