.navigation {
  max-width:100%;
  min-width: 90%;
  position: fixed;
  padding: 0 15px;
  @media screen and (min-width: 900px) {
    min-width: 70%;
  }
  & ul {
    @media screen and (max-width: 900px) {
      display: none;
    }
    width: 60%;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: lighter;

    li {
      border-bottom: 1px solid transparent;

      a {
        text-decoration: none;

      }

      &:hover {
        border-bottom: 1px solid #87a3ba;
        cursor: pointer;
        transform: scale(1.3, 1.3);
        transition: all 0.2s;
      }
    }
  }

  .burger {
    cursor: pointer;
    border: none;
    background: transparent;
    width: 30px;
    height: 30px;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: auto;
    display: none;
    @media screen and (max-width: 900px) {
      display: block;
      margin-right: 0;
    }
    //background: url('icons/menu.svg') 50% no-repeat;
  }
}

.in-modal-ul {
  padding: 20px;

  li {
    font-size: 4.5vw;
    border-bottom: 1px solid transparent;
    margin: 5px auto;

    &:hover {
      cursor: pointer;
      border-bottom: 1px solid white;
    }
  }
}

@media (min-width: 575.98px) {
  .navigation {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px) {
  .navigation {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {
  .navigation {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1199.98px) {
  .navigation {
    padding: 0 calc(50vw - 590px);
  }
}