@import "./sass/flex/import";
@import "./sass/pages/home";
@import "./sass/components/import";
@import "./sass/shortcut";

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Lato', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: rgb(17, 17, 19);
  //scroll-behavior: smooth !important;
}

.list-style-none {
  list-style: none;
}

section, .header, footer {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  section, .header, footer {
    padding: 0 calc(50vw - 270px);
  }
}

@media (min-width: 767.98px) {
  section, .header, footer {
    padding: 0 calc(50vw - 360px);
  }
}

@media (min-width: 991.98px) {
  section, .header, footer {
    padding: 0 calc(50vw - 480px);
  }
}

@media (min-width: 1199.98px) {
  section, .header, footer {
    padding: 0 calc(50vw - 590px);
  }
}

.logo {
  width: 150px;
}


.particle {
  position: absolute;
  border-radius: 50%;
}

@for $i from 1 through 100 {
  @keyframes particle-animation-#{$i} {
    100% {
      transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    }
  }

  .particle:nth-child(#{$i}) {
    position: fixed;
    animation: particle-animation-#{$i} 50s infinite;
    $size: random(5) + 1 + px;
    opacity: random(100)/100;
    height: $size;
    width: $size;
    animation-delay: -$i * .2s;
    transform: translate3d((random(90) * 1vw), (random(90) * 1vh), (random(100) * 1px));
    background: #0132d7;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}

@keyframes triangle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
  }
}

.bolt-1 {
  position: fixed;
  top: 35%;
  left: 55%;
  animation: loader 10s infinite ease-in-out;
}

.bolt-2 {
  position: fixed;
  top: 75%;
  right: 17%;
  animation: loader 10s infinite ease-in-out;
}

.bolt-3 {
  position: fixed;
  top: 60%;
  right: 10%;
  animation: triangle 10s infinite ease-in-out;
}


