.justify-space-between {
  justify-content: space-between;
}

.navigation {
  max-width: 100%;
  min-width: 90%;
  position: fixed;
  padding: 0 15px;
}
@media screen and (min-width: 900px) {
  .navigation {
    min-width: 70%;
  }
}
.navigation ul {
  width: 60%;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: lighter;
}
@media screen and (max-width: 900px) {
  .navigation ul {
    display: none;
  }
}
.navigation ul li {
  border-bottom: 1px solid transparent;
}
.navigation ul li a {
  text-decoration: none;
}
.navigation ul li:hover {
  border-bottom: 1px solid #87a3ba;
  cursor: pointer;
  transform: scale(1.3, 1.3);
  transition: all 0.2s;
}
.navigation .burger {
  cursor: pointer;
  border: none;
  background: transparent;
  width: 30px;
  height: 30px;
  margin-left: auto;
  margin-bottom: auto;
  margin-top: auto;
  display: none;
}
@media screen and (max-width: 900px) {
  .navigation .burger {
    display: block;
    margin-right: 0;
  }
}

.in-modal-ul {
  padding: 20px;
}
.in-modal-ul li {
  font-size: 4.5vw;
  border-bottom: 1px solid transparent;
  margin: 5px auto;
}
.in-modal-ul li:hover {
  cursor: pointer;
  border-bottom: 1px solid white;
}

@media (min-width: 575.98px) {
  .navigation {
    padding: 0 calc(50vw - 270px);
  }
}
@media (min-width: 767.98px) {
  .navigation {
    padding: 0 calc(50vw - 360px);
  }
}
@media (min-width: 991.98px) {
  .navigation {
    padding: 0 calc(50vw - 480px);
  }
}
@media (min-width: 1199.98px) {
  .navigation {
    padding: 0 calc(50vw - 590px);
  }
}
.header {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.header-text {
  width: 50%;
}
.header-text h1 {
  letter-spacing: 10px;
  font-weight: 800;
  font-size: calc(2.5vw + 1.4vh);
}
.header-text h1 span {
  letter-spacing: 10px;
  font-weight: 200;
}
.header-text h1 p {
  font-size: calc(1vw + 1.4vh);
  letter-spacing: 1px;
  padding: 10px 0;
}
.header-text h1 .info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.header-text h1 img {
  padding: 10px;
}
.header-text h2 {
  text-transform: uppercase;
  font-size: calc(0.8vw + 0.8vh);
  font-weight: 200;
  letter-spacing: 10px;
  padding: 5px 0;
}
.header-text p {
  font-size: calc(0.4vw + 1.1vh);
  font-weight: 300;
  padding: 10px 0;
}
.header-text a {
  font-weight: 300;
  margin: 5px;
  display: inline-block;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 20px;
  text-decoration: none;
  font-size: calc(0.8vw + 0.8vh);
  text-transform: uppercase;
  background: transparent;
}

.pt-0 {
  padding-top: 0px;
}

.pt-1 {
  padding-top: 1px;
}

.pt-2 {
  padding-top: 2px;
}

.pt-3 {
  padding-top: 3px;
}

.pt-4 {
  padding-top: 4px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-6 {
  padding-top: 6px;
}

.pt-7 {
  padding-top: 7px;
}

.pt-8 {
  padding-top: 8px;
}

.pt-9 {
  padding-top: 9px;
}

.pt-10 {
  padding-top: 10px;
}

.pr-0 {
  padding-right: 0px;
}

.pr-1 {
  padding-right: 1px;
}

.pr-2 {
  padding-right: 2px;
}

.pr-3 {
  padding-right: 3px;
}

.pr-4 {
  padding-right: 4px;
}

.pr-5 {
  padding-right: 5px;
}

.pr-6 {
  padding-right: 6px;
}

.pr-7 {
  padding-right: 7px;
}

.pr-8 {
  padding-right: 8px;
}

.pr-9 {
  padding-right: 9px;
}

.pr-10 {
  padding-right: 10px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pb-1 {
  padding-bottom: 1px;
}

.pb-2 {
  padding-bottom: 2px;
}

.pb-3 {
  padding-bottom: 3px;
}

.pb-4 {
  padding-bottom: 4px;
}

.pb-5 {
  padding-bottom: 5px;
}

.pb-6 {
  padding-bottom: 6px;
}

.pb-7 {
  padding-bottom: 7px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-9 {
  padding-bottom: 9px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pl-0 {
  padding-left: 0px;
}

.pl-1 {
  padding-left: 1px;
}

.pl-2 {
  padding-left: 2px;
}

.pl-3 {
  padding-left: 3px;
}

.pl-4 {
  padding-left: 4px;
}

.pl-5 {
  padding-left: 5px;
}

.pl-6 {
  padding-left: 6px;
}

.pl-7 {
  padding-left: 7px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-9 {
  padding-left: 9px;
}

.pl-10 {
  padding-left: 10px;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.fd-column {
  flex-direction: column;
}

* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "Lato", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: #111113;
}

.list-style-none {
  list-style: none;
}

section, .header, footer {
  padding: 0 15px;
}

@media (min-width: 575.98px) {
  section, .header, footer {
    padding: 0 calc(50vw - 270px);
  }
}
@media (min-width: 767.98px) {
  section, .header, footer {
    padding: 0 calc(50vw - 360px);
  }
}
@media (min-width: 991.98px) {
  section, .header, footer {
    padding: 0 calc(50vw - 480px);
  }
}
@media (min-width: 1199.98px) {
  section, .header, footer {
    padding: 0 calc(50vw - 590px);
  }
}
.logo {
  width: 150px;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(18vw, 76vh, 92px);
  }
}
.particle:nth-child(1) {
  position: fixed;
  animation: particle-animation-1 50s infinite;
  opacity: 0.38;
  height: 4px;
  width: 4px;
  animation-delay: -0.2s;
  transform: translate3d(8vw, 49vh, 65px);
  background: #0132d7;
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(36vw, 81vh, 67px);
  }
}
.particle:nth-child(2) {
  position: fixed;
  animation: particle-animation-2 50s infinite;
  opacity: 0.55;
  height: 2px;
  width: 2px;
  animation-delay: -0.4s;
  transform: translate3d(6vw, 59vh, 84px);
  background: #0132d7;
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(47vw, 38vh, 43px);
  }
}
.particle:nth-child(3) {
  position: fixed;
  animation: particle-animation-3 50s infinite;
  opacity: 0.32;
  height: 3px;
  width: 3px;
  animation-delay: -0.6s;
  transform: translate3d(34vw, 9vh, 78px);
  background: #0132d7;
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(45vw, 79vh, 3px);
  }
}
.particle:nth-child(4) {
  position: fixed;
  animation: particle-animation-4 50s infinite;
  opacity: 0.69;
  height: 6px;
  width: 6px;
  animation-delay: -0.8s;
  transform: translate3d(58vw, 81vh, 1px);
  background: #0132d7;
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(67vw, 26vh, 83px);
  }
}
.particle:nth-child(5) {
  position: fixed;
  animation: particle-animation-5 50s infinite;
  opacity: 0.05;
  height: 4px;
  width: 4px;
  animation-delay: -1s;
  transform: translate3d(26vw, 80vh, 26px);
  background: #0132d7;
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(62vw, 33vh, 29px);
  }
}
.particle:nth-child(6) {
  position: fixed;
  animation: particle-animation-6 50s infinite;
  opacity: 0.64;
  height: 6px;
  width: 6px;
  animation-delay: -1.2s;
  transform: translate3d(74vw, 29vh, 40px);
  background: #0132d7;
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(13vw, 18vh, 53px);
  }
}
.particle:nth-child(7) {
  position: fixed;
  animation: particle-animation-7 50s infinite;
  opacity: 0.4;
  height: 4px;
  width: 4px;
  animation-delay: -1.4s;
  transform: translate3d(80vw, 9vh, 37px);
  background: #0132d7;
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(54vw, 56vh, 57px);
  }
}
.particle:nth-child(8) {
  position: fixed;
  animation: particle-animation-8 50s infinite;
  opacity: 0.95;
  height: 4px;
  width: 4px;
  animation-delay: -1.6s;
  transform: translate3d(45vw, 12vh, 72px);
  background: #0132d7;
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(18vw, 22vh, 46px);
  }
}
.particle:nth-child(9) {
  position: fixed;
  animation: particle-animation-9 50s infinite;
  opacity: 0.3;
  height: 3px;
  width: 3px;
  animation-delay: -1.8s;
  transform: translate3d(60vw, 42vh, 60px);
  background: #0132d7;
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(41vw, 77vh, 69px);
  }
}
.particle:nth-child(10) {
  position: fixed;
  animation: particle-animation-10 50s infinite;
  opacity: 0.12;
  height: 6px;
  width: 6px;
  animation-delay: -2s;
  transform: translate3d(8vw, 73vh, 67px);
  background: #0132d7;
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(12vw, 35vh, 89px);
  }
}
.particle:nth-child(11) {
  position: fixed;
  animation: particle-animation-11 50s infinite;
  opacity: 0.87;
  height: 4px;
  width: 4px;
  animation-delay: -2.2s;
  transform: translate3d(43vw, 85vh, 72px);
  background: #0132d7;
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(62vw, 22vh, 19px);
  }
}
.particle:nth-child(12) {
  position: fixed;
  animation: particle-animation-12 50s infinite;
  opacity: 0.14;
  height: 3px;
  width: 3px;
  animation-delay: -2.4s;
  transform: translate3d(55vw, 36vh, 25px);
  background: #0132d7;
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(77vw, 41vh, 30px);
  }
}
.particle:nth-child(13) {
  position: fixed;
  animation: particle-animation-13 50s infinite;
  opacity: 0.13;
  height: 2px;
  width: 2px;
  animation-delay: -2.6s;
  transform: translate3d(86vw, 57vh, 42px);
  background: #0132d7;
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(79vw, 25vh, 51px);
  }
}
.particle:nth-child(14) {
  position: fixed;
  animation: particle-animation-14 50s infinite;
  opacity: 0.54;
  height: 4px;
  width: 4px;
  animation-delay: -2.8s;
  transform: translate3d(59vw, 4vh, 100px);
  background: #0132d7;
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(69vw, 1vh, 36px);
  }
}
.particle:nth-child(15) {
  position: fixed;
  animation: particle-animation-15 50s infinite;
  opacity: 0.02;
  height: 4px;
  width: 4px;
  animation-delay: -3s;
  transform: translate3d(45vw, 37vh, 90px);
  background: #0132d7;
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(64vw, 15vh, 43px);
  }
}
.particle:nth-child(16) {
  position: fixed;
  animation: particle-animation-16 50s infinite;
  opacity: 0.05;
  height: 2px;
  width: 2px;
  animation-delay: -3.2s;
  transform: translate3d(31vw, 1vh, 99px);
  background: #0132d7;
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(36vw, 22vh, 46px);
  }
}
.particle:nth-child(17) {
  position: fixed;
  animation: particle-animation-17 50s infinite;
  opacity: 0.36;
  height: 4px;
  width: 4px;
  animation-delay: -3.4s;
  transform: translate3d(55vw, 53vh, 63px);
  background: #0132d7;
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(48vw, 60vh, 24px);
  }
}
.particle:nth-child(18) {
  position: fixed;
  animation: particle-animation-18 50s infinite;
  opacity: 0.52;
  height: 3px;
  width: 3px;
  animation-delay: -3.6s;
  transform: translate3d(85vw, 23vh, 100px);
  background: #0132d7;
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(76vw, 73vh, 90px);
  }
}
.particle:nth-child(19) {
  position: fixed;
  animation: particle-animation-19 50s infinite;
  opacity: 0.32;
  height: 4px;
  width: 4px;
  animation-delay: -3.8s;
  transform: translate3d(41vw, 89vh, 79px);
  background: #0132d7;
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(65vw, 13vh, 61px);
  }
}
.particle:nth-child(20) {
  position: fixed;
  animation: particle-animation-20 50s infinite;
  opacity: 0.25;
  height: 3px;
  width: 3px;
  animation-delay: -4s;
  transform: translate3d(66vw, 60vh, 41px);
  background: #0132d7;
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(27vw, 80vh, 50px);
  }
}
.particle:nth-child(21) {
  position: fixed;
  animation: particle-animation-21 50s infinite;
  opacity: 0.76;
  height: 5px;
  width: 5px;
  animation-delay: -4.2s;
  transform: translate3d(10vw, 3vh, 1px);
  background: #0132d7;
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(71vw, 21vh, 94px);
  }
}
.particle:nth-child(22) {
  position: fixed;
  animation: particle-animation-22 50s infinite;
  opacity: 0.08;
  height: 2px;
  width: 2px;
  animation-delay: -4.4s;
  transform: translate3d(88vw, 72vh, 3px);
  background: #0132d7;
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(8vw, 25vh, 48px);
  }
}
.particle:nth-child(23) {
  position: fixed;
  animation: particle-animation-23 50s infinite;
  opacity: 0.37;
  height: 2px;
  width: 2px;
  animation-delay: -4.6s;
  transform: translate3d(20vw, 80vh, 67px);
  background: #0132d7;
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(51vw, 83vh, 29px);
  }
}
.particle:nth-child(24) {
  position: fixed;
  animation: particle-animation-24 50s infinite;
  opacity: 0.73;
  height: 6px;
  width: 6px;
  animation-delay: -4.8s;
  transform: translate3d(26vw, 16vh, 77px);
  background: #0132d7;
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(52vw, 49vh, 51px);
  }
}
.particle:nth-child(25) {
  position: fixed;
  animation: particle-animation-25 50s infinite;
  opacity: 0.79;
  height: 2px;
  width: 2px;
  animation-delay: -5s;
  transform: translate3d(18vw, 25vh, 25px);
  background: #0132d7;
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(20vw, 88vh, 38px);
  }
}
.particle:nth-child(26) {
  position: fixed;
  animation: particle-animation-26 50s infinite;
  opacity: 0.4;
  height: 3px;
  width: 3px;
  animation-delay: -5.2s;
  transform: translate3d(59vw, 2vh, 75px);
  background: #0132d7;
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(22vw, 90vh, 29px);
  }
}
.particle:nth-child(27) {
  position: fixed;
  animation: particle-animation-27 50s infinite;
  opacity: 0.67;
  height: 6px;
  width: 6px;
  animation-delay: -5.4s;
  transform: translate3d(70vw, 86vh, 22px);
  background: #0132d7;
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(34vw, 62vh, 77px);
  }
}
.particle:nth-child(28) {
  position: fixed;
  animation: particle-animation-28 50s infinite;
  opacity: 0.27;
  height: 6px;
  width: 6px;
  animation-delay: -5.6s;
  transform: translate3d(75vw, 76vh, 29px);
  background: #0132d7;
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(70vw, 8vh, 90px);
  }
}
.particle:nth-child(29) {
  position: fixed;
  animation: particle-animation-29 50s infinite;
  opacity: 0.04;
  height: 5px;
  width: 5px;
  animation-delay: -5.8s;
  transform: translate3d(10vw, 60vh, 61px);
  background: #0132d7;
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(79vw, 18vh, 1px);
  }
}
.particle:nth-child(30) {
  position: fixed;
  animation: particle-animation-30 50s infinite;
  opacity: 0.76;
  height: 4px;
  width: 4px;
  animation-delay: -6s;
  transform: translate3d(65vw, 25vh, 85px);
  background: #0132d7;
}

@keyframes particle-animation-31 {
  100% {
    transform: translate3d(10vw, 28vh, 24px);
  }
}
.particle:nth-child(31) {
  position: fixed;
  animation: particle-animation-31 50s infinite;
  opacity: 0.58;
  height: 3px;
  width: 3px;
  animation-delay: -6.2s;
  transform: translate3d(11vw, 16vh, 48px);
  background: #0132d7;
}

@keyframes particle-animation-32 {
  100% {
    transform: translate3d(88vw, 34vh, 90px);
  }
}
.particle:nth-child(32) {
  position: fixed;
  animation: particle-animation-32 50s infinite;
  opacity: 0.19;
  height: 5px;
  width: 5px;
  animation-delay: -6.4s;
  transform: translate3d(15vw, 53vh, 65px);
  background: #0132d7;
}

@keyframes particle-animation-33 {
  100% {
    transform: translate3d(33vw, 71vh, 68px);
  }
}
.particle:nth-child(33) {
  position: fixed;
  animation: particle-animation-33 50s infinite;
  opacity: 0.34;
  height: 2px;
  width: 2px;
  animation-delay: -6.6s;
  transform: translate3d(82vw, 56vh, 30px);
  background: #0132d7;
}

@keyframes particle-animation-34 {
  100% {
    transform: translate3d(17vw, 65vh, 81px);
  }
}
.particle:nth-child(34) {
  position: fixed;
  animation: particle-animation-34 50s infinite;
  opacity: 0.34;
  height: 3px;
  width: 3px;
  animation-delay: -6.8s;
  transform: translate3d(38vw, 64vh, 31px);
  background: #0132d7;
}

@keyframes particle-animation-35 {
  100% {
    transform: translate3d(53vw, 58vh, 39px);
  }
}
.particle:nth-child(35) {
  position: fixed;
  animation: particle-animation-35 50s infinite;
  opacity: 1;
  height: 2px;
  width: 2px;
  animation-delay: -7s;
  transform: translate3d(25vw, 13vh, 16px);
  background: #0132d7;
}

@keyframes particle-animation-36 {
  100% {
    transform: translate3d(20vw, 73vh, 84px);
  }
}
.particle:nth-child(36) {
  position: fixed;
  animation: particle-animation-36 50s infinite;
  opacity: 0.45;
  height: 4px;
  width: 4px;
  animation-delay: -7.2s;
  transform: translate3d(58vw, 76vh, 56px);
  background: #0132d7;
}

@keyframes particle-animation-37 {
  100% {
    transform: translate3d(34vw, 17vh, 76px);
  }
}
.particle:nth-child(37) {
  position: fixed;
  animation: particle-animation-37 50s infinite;
  opacity: 0.59;
  height: 4px;
  width: 4px;
  animation-delay: -7.4s;
  transform: translate3d(42vw, 31vh, 79px);
  background: #0132d7;
}

@keyframes particle-animation-38 {
  100% {
    transform: translate3d(5vw, 38vh, 31px);
  }
}
.particle:nth-child(38) {
  position: fixed;
  animation: particle-animation-38 50s infinite;
  opacity: 0.84;
  height: 2px;
  width: 2px;
  animation-delay: -7.6s;
  transform: translate3d(1vw, 3vh, 3px);
  background: #0132d7;
}

@keyframes particle-animation-39 {
  100% {
    transform: translate3d(64vw, 50vh, 82px);
  }
}
.particle:nth-child(39) {
  position: fixed;
  animation: particle-animation-39 50s infinite;
  opacity: 0.63;
  height: 6px;
  width: 6px;
  animation-delay: -7.8s;
  transform: translate3d(3vw, 60vh, 68px);
  background: #0132d7;
}

@keyframes particle-animation-40 {
  100% {
    transform: translate3d(76vw, 21vh, 37px);
  }
}
.particle:nth-child(40) {
  position: fixed;
  animation: particle-animation-40 50s infinite;
  opacity: 0.91;
  height: 2px;
  width: 2px;
  animation-delay: -8s;
  transform: translate3d(69vw, 49vh, 9px);
  background: #0132d7;
}

@keyframes particle-animation-41 {
  100% {
    transform: translate3d(25vw, 59vh, 68px);
  }
}
.particle:nth-child(41) {
  position: fixed;
  animation: particle-animation-41 50s infinite;
  opacity: 0.42;
  height: 2px;
  width: 2px;
  animation-delay: -8.2s;
  transform: translate3d(55vw, 3vh, 70px);
  background: #0132d7;
}

@keyframes particle-animation-42 {
  100% {
    transform: translate3d(1vw, 77vh, 75px);
  }
}
.particle:nth-child(42) {
  position: fixed;
  animation: particle-animation-42 50s infinite;
  opacity: 0.67;
  height: 5px;
  width: 5px;
  animation-delay: -8.4s;
  transform: translate3d(43vw, 3vh, 18px);
  background: #0132d7;
}

@keyframes particle-animation-43 {
  100% {
    transform: translate3d(43vw, 9vh, 58px);
  }
}
.particle:nth-child(43) {
  position: fixed;
  animation: particle-animation-43 50s infinite;
  opacity: 0.83;
  height: 4px;
  width: 4px;
  animation-delay: -8.6s;
  transform: translate3d(31vw, 46vh, 65px);
  background: #0132d7;
}

@keyframes particle-animation-44 {
  100% {
    transform: translate3d(37vw, 59vh, 63px);
  }
}
.particle:nth-child(44) {
  position: fixed;
  animation: particle-animation-44 50s infinite;
  opacity: 0.04;
  height: 6px;
  width: 6px;
  animation-delay: -8.8s;
  transform: translate3d(76vw, 24vh, 63px);
  background: #0132d7;
}

@keyframes particle-animation-45 {
  100% {
    transform: translate3d(23vw, 21vh, 4px);
  }
}
.particle:nth-child(45) {
  position: fixed;
  animation: particle-animation-45 50s infinite;
  opacity: 0.3;
  height: 4px;
  width: 4px;
  animation-delay: -9s;
  transform: translate3d(14vw, 86vh, 5px);
  background: #0132d7;
}

@keyframes particle-animation-46 {
  100% {
    transform: translate3d(28vw, 29vh, 65px);
  }
}
.particle:nth-child(46) {
  position: fixed;
  animation: particle-animation-46 50s infinite;
  opacity: 0.33;
  height: 6px;
  width: 6px;
  animation-delay: -9.2s;
  transform: translate3d(32vw, 63vh, 56px);
  background: #0132d7;
}

@keyframes particle-animation-47 {
  100% {
    transform: translate3d(52vw, 33vh, 64px);
  }
}
.particle:nth-child(47) {
  position: fixed;
  animation: particle-animation-47 50s infinite;
  opacity: 0.66;
  height: 2px;
  width: 2px;
  animation-delay: -9.4s;
  transform: translate3d(54vw, 13vh, 36px);
  background: #0132d7;
}

@keyframes particle-animation-48 {
  100% {
    transform: translate3d(90vw, 54vh, 98px);
  }
}
.particle:nth-child(48) {
  position: fixed;
  animation: particle-animation-48 50s infinite;
  opacity: 0.62;
  height: 2px;
  width: 2px;
  animation-delay: -9.6s;
  transform: translate3d(43vw, 73vh, 24px);
  background: #0132d7;
}

@keyframes particle-animation-49 {
  100% {
    transform: translate3d(34vw, 14vh, 10px);
  }
}
.particle:nth-child(49) {
  position: fixed;
  animation: particle-animation-49 50s infinite;
  opacity: 0.12;
  height: 6px;
  width: 6px;
  animation-delay: -9.8s;
  transform: translate3d(68vw, 6vh, 64px);
  background: #0132d7;
}

@keyframes particle-animation-50 {
  100% {
    transform: translate3d(62vw, 55vh, 75px);
  }
}
.particle:nth-child(50) {
  position: fixed;
  animation: particle-animation-50 50s infinite;
  opacity: 0.53;
  height: 6px;
  width: 6px;
  animation-delay: -10s;
  transform: translate3d(16vw, 38vh, 11px);
  background: #0132d7;
}

@keyframes particle-animation-51 {
  100% {
    transform: translate3d(79vw, 71vh, 64px);
  }
}
.particle:nth-child(51) {
  position: fixed;
  animation: particle-animation-51 50s infinite;
  opacity: 0.89;
  height: 2px;
  width: 2px;
  animation-delay: -10.2s;
  transform: translate3d(69vw, 68vh, 93px);
  background: #0132d7;
}

@keyframes particle-animation-52 {
  100% {
    transform: translate3d(47vw, 83vh, 3px);
  }
}
.particle:nth-child(52) {
  position: fixed;
  animation: particle-animation-52 50s infinite;
  opacity: 0.33;
  height: 2px;
  width: 2px;
  animation-delay: -10.4s;
  transform: translate3d(10vw, 61vh, 66px);
  background: #0132d7;
}

@keyframes particle-animation-53 {
  100% {
    transform: translate3d(42vw, 29vh, 11px);
  }
}
.particle:nth-child(53) {
  position: fixed;
  animation: particle-animation-53 50s infinite;
  opacity: 0.2;
  height: 3px;
  width: 3px;
  animation-delay: -10.6s;
  transform: translate3d(76vw, 84vh, 65px);
  background: #0132d7;
}

@keyframes particle-animation-54 {
  100% {
    transform: translate3d(27vw, 63vh, 59px);
  }
}
.particle:nth-child(54) {
  position: fixed;
  animation: particle-animation-54 50s infinite;
  opacity: 0.24;
  height: 3px;
  width: 3px;
  animation-delay: -10.8s;
  transform: translate3d(70vw, 75vh, 17px);
  background: #0132d7;
}

@keyframes particle-animation-55 {
  100% {
    transform: translate3d(68vw, 27vh, 68px);
  }
}
.particle:nth-child(55) {
  position: fixed;
  animation: particle-animation-55 50s infinite;
  opacity: 1;
  height: 4px;
  width: 4px;
  animation-delay: -11s;
  transform: translate3d(21vw, 10vh, 18px);
  background: #0132d7;
}

@keyframes particle-animation-56 {
  100% {
    transform: translate3d(59vw, 37vh, 31px);
  }
}
.particle:nth-child(56) {
  position: fixed;
  animation: particle-animation-56 50s infinite;
  opacity: 0.26;
  height: 5px;
  width: 5px;
  animation-delay: -11.2s;
  transform: translate3d(34vw, 48vh, 12px);
  background: #0132d7;
}

@keyframes particle-animation-57 {
  100% {
    transform: translate3d(26vw, 33vh, 3px);
  }
}
.particle:nth-child(57) {
  position: fixed;
  animation: particle-animation-57 50s infinite;
  opacity: 0.2;
  height: 3px;
  width: 3px;
  animation-delay: -11.4s;
  transform: translate3d(29vw, 70vh, 100px);
  background: #0132d7;
}

@keyframes particle-animation-58 {
  100% {
    transform: translate3d(62vw, 87vh, 61px);
  }
}
.particle:nth-child(58) {
  position: fixed;
  animation: particle-animation-58 50s infinite;
  opacity: 0.32;
  height: 4px;
  width: 4px;
  animation-delay: -11.6s;
  transform: translate3d(67vw, 15vh, 13px);
  background: #0132d7;
}

@keyframes particle-animation-59 {
  100% {
    transform: translate3d(15vw, 82vh, 39px);
  }
}
.particle:nth-child(59) {
  position: fixed;
  animation: particle-animation-59 50s infinite;
  opacity: 0.16;
  height: 3px;
  width: 3px;
  animation-delay: -11.8s;
  transform: translate3d(44vw, 38vh, 88px);
  background: #0132d7;
}

@keyframes particle-animation-60 {
  100% {
    transform: translate3d(81vw, 19vh, 94px);
  }
}
.particle:nth-child(60) {
  position: fixed;
  animation: particle-animation-60 50s infinite;
  opacity: 0.65;
  height: 2px;
  width: 2px;
  animation-delay: -12s;
  transform: translate3d(82vw, 49vh, 81px);
  background: #0132d7;
}

@keyframes particle-animation-61 {
  100% {
    transform: translate3d(36vw, 21vh, 21px);
  }
}
.particle:nth-child(61) {
  position: fixed;
  animation: particle-animation-61 50s infinite;
  opacity: 0.88;
  height: 4px;
  width: 4px;
  animation-delay: -12.2s;
  transform: translate3d(48vw, 62vh, 86px);
  background: #0132d7;
}

@keyframes particle-animation-62 {
  100% {
    transform: translate3d(82vw, 28vh, 31px);
  }
}
.particle:nth-child(62) {
  position: fixed;
  animation: particle-animation-62 50s infinite;
  opacity: 0.07;
  height: 5px;
  width: 5px;
  animation-delay: -12.4s;
  transform: translate3d(6vw, 16vh, 94px);
  background: #0132d7;
}

@keyframes particle-animation-63 {
  100% {
    transform: translate3d(55vw, 11vh, 52px);
  }
}
.particle:nth-child(63) {
  position: fixed;
  animation: particle-animation-63 50s infinite;
  opacity: 0.84;
  height: 4px;
  width: 4px;
  animation-delay: -12.6s;
  transform: translate3d(51vw, 31vh, 21px);
  background: #0132d7;
}

@keyframes particle-animation-64 {
  100% {
    transform: translate3d(36vw, 12vh, 6px);
  }
}
.particle:nth-child(64) {
  position: fixed;
  animation: particle-animation-64 50s infinite;
  opacity: 0.19;
  height: 5px;
  width: 5px;
  animation-delay: -12.8s;
  transform: translate3d(43vw, 88vh, 21px);
  background: #0132d7;
}

@keyframes particle-animation-65 {
  100% {
    transform: translate3d(4vw, 24vh, 70px);
  }
}
.particle:nth-child(65) {
  position: fixed;
  animation: particle-animation-65 50s infinite;
  opacity: 0.4;
  height: 4px;
  width: 4px;
  animation-delay: -13s;
  transform: translate3d(53vw, 18vh, 74px);
  background: #0132d7;
}

@keyframes particle-animation-66 {
  100% {
    transform: translate3d(41vw, 7vh, 69px);
  }
}
.particle:nth-child(66) {
  position: fixed;
  animation: particle-animation-66 50s infinite;
  opacity: 0.85;
  height: 4px;
  width: 4px;
  animation-delay: -13.2s;
  transform: translate3d(45vw, 86vh, 45px);
  background: #0132d7;
}

@keyframes particle-animation-67 {
  100% {
    transform: translate3d(6vw, 71vh, 32px);
  }
}
.particle:nth-child(67) {
  position: fixed;
  animation: particle-animation-67 50s infinite;
  opacity: 0.19;
  height: 5px;
  width: 5px;
  animation-delay: -13.4s;
  transform: translate3d(52vw, 52vh, 100px);
  background: #0132d7;
}

@keyframes particle-animation-68 {
  100% {
    transform: translate3d(47vw, 31vh, 6px);
  }
}
.particle:nth-child(68) {
  position: fixed;
  animation: particle-animation-68 50s infinite;
  opacity: 0.26;
  height: 2px;
  width: 2px;
  animation-delay: -13.6s;
  transform: translate3d(22vw, 86vh, 24px);
  background: #0132d7;
}

@keyframes particle-animation-69 {
  100% {
    transform: translate3d(23vw, 27vh, 53px);
  }
}
.particle:nth-child(69) {
  position: fixed;
  animation: particle-animation-69 50s infinite;
  opacity: 0.15;
  height: 2px;
  width: 2px;
  animation-delay: -13.8s;
  transform: translate3d(33vw, 60vh, 12px);
  background: #0132d7;
}

@keyframes particle-animation-70 {
  100% {
    transform: translate3d(47vw, 27vh, 86px);
  }
}
.particle:nth-child(70) {
  position: fixed;
  animation: particle-animation-70 50s infinite;
  opacity: 0.04;
  height: 3px;
  width: 3px;
  animation-delay: -14s;
  transform: translate3d(19vw, 16vh, 5px);
  background: #0132d7;
}

@keyframes particle-animation-71 {
  100% {
    transform: translate3d(71vw, 6vh, 11px);
  }
}
.particle:nth-child(71) {
  position: fixed;
  animation: particle-animation-71 50s infinite;
  opacity: 0.02;
  height: 2px;
  width: 2px;
  animation-delay: -14.2s;
  transform: translate3d(41vw, 64vh, 72px);
  background: #0132d7;
}

@keyframes particle-animation-72 {
  100% {
    transform: translate3d(62vw, 72vh, 72px);
  }
}
.particle:nth-child(72) {
  position: fixed;
  animation: particle-animation-72 50s infinite;
  opacity: 0.11;
  height: 6px;
  width: 6px;
  animation-delay: -14.4s;
  transform: translate3d(37vw, 1vh, 27px);
  background: #0132d7;
}

@keyframes particle-animation-73 {
  100% {
    transform: translate3d(34vw, 28vh, 71px);
  }
}
.particle:nth-child(73) {
  position: fixed;
  animation: particle-animation-73 50s infinite;
  opacity: 0.67;
  height: 2px;
  width: 2px;
  animation-delay: -14.6s;
  transform: translate3d(20vw, 81vh, 9px);
  background: #0132d7;
}

@keyframes particle-animation-74 {
  100% {
    transform: translate3d(1vw, 24vh, 71px);
  }
}
.particle:nth-child(74) {
  position: fixed;
  animation: particle-animation-74 50s infinite;
  opacity: 0.29;
  height: 3px;
  width: 3px;
  animation-delay: -14.8s;
  transform: translate3d(58vw, 53vh, 84px);
  background: #0132d7;
}

@keyframes particle-animation-75 {
  100% {
    transform: translate3d(37vw, 37vh, 13px);
  }
}
.particle:nth-child(75) {
  position: fixed;
  animation: particle-animation-75 50s infinite;
  opacity: 0.82;
  height: 3px;
  width: 3px;
  animation-delay: -15s;
  transform: translate3d(22vw, 30vh, 40px);
  background: #0132d7;
}

@keyframes particle-animation-76 {
  100% {
    transform: translate3d(71vw, 38vh, 3px);
  }
}
.particle:nth-child(76) {
  position: fixed;
  animation: particle-animation-76 50s infinite;
  opacity: 0.03;
  height: 5px;
  width: 5px;
  animation-delay: -15.2s;
  transform: translate3d(22vw, 37vh, 4px);
  background: #0132d7;
}

@keyframes particle-animation-77 {
  100% {
    transform: translate3d(21vw, 11vh, 48px);
  }
}
.particle:nth-child(77) {
  position: fixed;
  animation: particle-animation-77 50s infinite;
  opacity: 0.9;
  height: 2px;
  width: 2px;
  animation-delay: -15.4s;
  transform: translate3d(50vw, 33vh, 22px);
  background: #0132d7;
}

@keyframes particle-animation-78 {
  100% {
    transform: translate3d(10vw, 50vh, 75px);
  }
}
.particle:nth-child(78) {
  position: fixed;
  animation: particle-animation-78 50s infinite;
  opacity: 0.55;
  height: 3px;
  width: 3px;
  animation-delay: -15.6s;
  transform: translate3d(84vw, 51vh, 17px);
  background: #0132d7;
}

@keyframes particle-animation-79 {
  100% {
    transform: translate3d(68vw, 74vh, 28px);
  }
}
.particle:nth-child(79) {
  position: fixed;
  animation: particle-animation-79 50s infinite;
  opacity: 0.01;
  height: 3px;
  width: 3px;
  animation-delay: -15.8s;
  transform: translate3d(7vw, 52vh, 53px);
  background: #0132d7;
}

@keyframes particle-animation-80 {
  100% {
    transform: translate3d(1vw, 36vh, 21px);
  }
}
.particle:nth-child(80) {
  position: fixed;
  animation: particle-animation-80 50s infinite;
  opacity: 0.55;
  height: 2px;
  width: 2px;
  animation-delay: -16s;
  transform: translate3d(29vw, 39vh, 88px);
  background: #0132d7;
}

@keyframes particle-animation-81 {
  100% {
    transform: translate3d(81vw, 8vh, 10px);
  }
}
.particle:nth-child(81) {
  position: fixed;
  animation: particle-animation-81 50s infinite;
  opacity: 0.22;
  height: 2px;
  width: 2px;
  animation-delay: -16.2s;
  transform: translate3d(43vw, 47vh, 4px);
  background: #0132d7;
}

@keyframes particle-animation-82 {
  100% {
    transform: translate3d(46vw, 33vh, 33px);
  }
}
.particle:nth-child(82) {
  position: fixed;
  animation: particle-animation-82 50s infinite;
  opacity: 0.18;
  height: 4px;
  width: 4px;
  animation-delay: -16.4s;
  transform: translate3d(77vw, 5vh, 25px);
  background: #0132d7;
}

@keyframes particle-animation-83 {
  100% {
    transform: translate3d(57vw, 78vh, 75px);
  }
}
.particle:nth-child(83) {
  position: fixed;
  animation: particle-animation-83 50s infinite;
  opacity: 0.55;
  height: 5px;
  width: 5px;
  animation-delay: -16.6s;
  transform: translate3d(66vw, 42vh, 20px);
  background: #0132d7;
}

@keyframes particle-animation-84 {
  100% {
    transform: translate3d(18vw, 77vh, 19px);
  }
}
.particle:nth-child(84) {
  position: fixed;
  animation: particle-animation-84 50s infinite;
  opacity: 0.63;
  height: 4px;
  width: 4px;
  animation-delay: -16.8s;
  transform: translate3d(52vw, 67vh, 26px);
  background: #0132d7;
}

@keyframes particle-animation-85 {
  100% {
    transform: translate3d(37vw, 22vh, 39px);
  }
}
.particle:nth-child(85) {
  position: fixed;
  animation: particle-animation-85 50s infinite;
  opacity: 0.12;
  height: 3px;
  width: 3px;
  animation-delay: -17s;
  transform: translate3d(68vw, 82vh, 47px);
  background: #0132d7;
}

@keyframes particle-animation-86 {
  100% {
    transform: translate3d(57vw, 54vh, 54px);
  }
}
.particle:nth-child(86) {
  position: fixed;
  animation: particle-animation-86 50s infinite;
  opacity: 0.66;
  height: 3px;
  width: 3px;
  animation-delay: -17.2s;
  transform: translate3d(62vw, 84vh, 58px);
  background: #0132d7;
}

@keyframes particle-animation-87 {
  100% {
    transform: translate3d(41vw, 51vh, 6px);
  }
}
.particle:nth-child(87) {
  position: fixed;
  animation: particle-animation-87 50s infinite;
  opacity: 0.86;
  height: 6px;
  width: 6px;
  animation-delay: -17.4s;
  transform: translate3d(47vw, 24vh, 82px);
  background: #0132d7;
}

@keyframes particle-animation-88 {
  100% {
    transform: translate3d(68vw, 83vh, 90px);
  }
}
.particle:nth-child(88) {
  position: fixed;
  animation: particle-animation-88 50s infinite;
  opacity: 0.25;
  height: 4px;
  width: 4px;
  animation-delay: -17.6s;
  transform: translate3d(49vw, 54vh, 56px);
  background: #0132d7;
}

@keyframes particle-animation-89 {
  100% {
    transform: translate3d(39vw, 3vh, 14px);
  }
}
.particle:nth-child(89) {
  position: fixed;
  animation: particle-animation-89 50s infinite;
  opacity: 0.61;
  height: 2px;
  width: 2px;
  animation-delay: -17.8s;
  transform: translate3d(90vw, 14vh, 54px);
  background: #0132d7;
}

@keyframes particle-animation-90 {
  100% {
    transform: translate3d(45vw, 60vh, 15px);
  }
}
.particle:nth-child(90) {
  position: fixed;
  animation: particle-animation-90 50s infinite;
  opacity: 0.72;
  height: 4px;
  width: 4px;
  animation-delay: -18s;
  transform: translate3d(30vw, 71vh, 50px);
  background: #0132d7;
}

@keyframes particle-animation-91 {
  100% {
    transform: translate3d(36vw, 54vh, 12px);
  }
}
.particle:nth-child(91) {
  position: fixed;
  animation: particle-animation-91 50s infinite;
  opacity: 0.64;
  height: 4px;
  width: 4px;
  animation-delay: -18.2s;
  transform: translate3d(16vw, 65vh, 9px);
  background: #0132d7;
}

@keyframes particle-animation-92 {
  100% {
    transform: translate3d(2vw, 90vh, 39px);
  }
}
.particle:nth-child(92) {
  position: fixed;
  animation: particle-animation-92 50s infinite;
  opacity: 0.38;
  height: 2px;
  width: 2px;
  animation-delay: -18.4s;
  transform: translate3d(89vw, 64vh, 40px);
  background: #0132d7;
}

@keyframes particle-animation-93 {
  100% {
    transform: translate3d(66vw, 71vh, 72px);
  }
}
.particle:nth-child(93) {
  position: fixed;
  animation: particle-animation-93 50s infinite;
  opacity: 0.45;
  height: 6px;
  width: 6px;
  animation-delay: -18.6s;
  transform: translate3d(71vw, 26vh, 29px);
  background: #0132d7;
}

@keyframes particle-animation-94 {
  100% {
    transform: translate3d(49vw, 76vh, 75px);
  }
}
.particle:nth-child(94) {
  position: fixed;
  animation: particle-animation-94 50s infinite;
  opacity: 0.47;
  height: 4px;
  width: 4px;
  animation-delay: -18.8s;
  transform: translate3d(22vw, 10vh, 48px);
  background: #0132d7;
}

@keyframes particle-animation-95 {
  100% {
    transform: translate3d(86vw, 57vh, 8px);
  }
}
.particle:nth-child(95) {
  position: fixed;
  animation: particle-animation-95 50s infinite;
  opacity: 0.49;
  height: 5px;
  width: 5px;
  animation-delay: -19s;
  transform: translate3d(17vw, 1vh, 39px);
  background: #0132d7;
}

@keyframes particle-animation-96 {
  100% {
    transform: translate3d(30vw, 10vh, 40px);
  }
}
.particle:nth-child(96) {
  position: fixed;
  animation: particle-animation-96 50s infinite;
  opacity: 0.32;
  height: 2px;
  width: 2px;
  animation-delay: -19.2s;
  transform: translate3d(52vw, 17vh, 58px);
  background: #0132d7;
}

@keyframes particle-animation-97 {
  100% {
    transform: translate3d(39vw, 39vh, 96px);
  }
}
.particle:nth-child(97) {
  position: fixed;
  animation: particle-animation-97 50s infinite;
  opacity: 0.19;
  height: 2px;
  width: 2px;
  animation-delay: -19.4s;
  transform: translate3d(43vw, 52vh, 2px);
  background: #0132d7;
}

@keyframes particle-animation-98 {
  100% {
    transform: translate3d(13vw, 61vh, 21px);
  }
}
.particle:nth-child(98) {
  position: fixed;
  animation: particle-animation-98 50s infinite;
  opacity: 0.55;
  height: 4px;
  width: 4px;
  animation-delay: -19.6s;
  transform: translate3d(79vw, 27vh, 57px);
  background: #0132d7;
}

@keyframes particle-animation-99 {
  100% {
    transform: translate3d(17vw, 76vh, 11px);
  }
}
.particle:nth-child(99) {
  position: fixed;
  animation: particle-animation-99 50s infinite;
  opacity: 0.93;
  height: 4px;
  width: 4px;
  animation-delay: -19.8s;
  transform: translate3d(75vw, 54vh, 8px);
  background: #0132d7;
}

@keyframes particle-animation-100 {
  100% {
    transform: translate3d(90vw, 2vh, 74px);
  }
}
.particle:nth-child(100) {
  position: fixed;
  animation: particle-animation-100 50s infinite;
  opacity: 0.38;
  height: 3px;
  width: 3px;
  animation-delay: -20s;
  transform: translate3d(80vw, 33vh, 35px);
  background: #0132d7;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes triangle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.bolt-1 {
  position: fixed;
  top: 35%;
  left: 55%;
  animation: loader 10s infinite ease-in-out;
}

.bolt-2 {
  position: fixed;
  top: 75%;
  right: 17%;
  animation: loader 10s infinite ease-in-out;
}

.bolt-3 {
  position: fixed;
  top: 60%;
  right: 10%;
  animation: triangle 10s infinite ease-in-out;
}

/*# sourceMappingURL=index.css.map */
